.topStyle {
  padding: 0.1rem 0.5rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 25px;
  justify-content: space-between;
}

.leftTopBtnStyle {
  font-size: 16px;
  z-index: 100;
}

.rightTopBtnStyle {
  font-size: 16px;
  z-index: 100;
  margin-left: 8px;
}

.container {
  text-align: center;
  height: 100%;
}

.rightTopBtnsGroup,
.leftTopBtnsGroup {
  display: flex;
  flex-direction: row;
}

.loadingText {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  margin-left: 8px;
}

.profile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.currentInfo {
  text-align: left;
  width: 160px;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.albumart {
  background: url(static/back.jpeg) no-repeat;
  background-size: cover;
  height: 70%;
  padding-top: 3px;
  color: white;
  display: flex;
  flex-direction: column;
}

.controlpnl {
  width: 100%;
  height: 30%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

.meta {
  margin-top: 10px;
  padding: 0 2rem;
}

.meta .song {
  color: #fff;
  font-size: 17px;
  padding: 0;
  margin: 0 0 5px 0;
}

.primaryControls {
  padding: 0 1rem;
}

.ctrlWrapper {
  height: 30%;
}

.controls {
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
