/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~antd/dist/antd.css';

body {
  font-size: 62.5%;
} /* =10px */
h1 {
  font-size: 2.4em;
} /* =24px */
p {
  font-size: 1.4em;
} /* =14px */
li {
  font-size: 1.4em;
} /* =14px? */

#root {
  height: 100%;
}
